<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sprint Retrospective Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{/header :: header}"></div>
    <div class="row text-center my-5 ">
        <div class="col">
            <h1 th:text="${board.name}"></h1>
        </div>
    </div>
    <div class="row my-5 mx-5" id="boardSection">
        <div th:each="column, columnIndex: ${board.columns}" class="col">
            <h4 class="text-center" th:text="${column.status}" />
            <div id="board-cards">
                <div th:each="card: ${board.cards}" th:if="${#strings.equals(card.status, column.status)}" >
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text" th:text="${card.text}" />
                            <button class="btn btn-primary" data-bs-toggle="modal" th:attr="data-bs-target='#editCardModal'+${card.id}">Edit</button>
                            <button class="btn btn-info " data-bs-toggle="modal" th:attr="data-bs-target='#commentModal'+${card.id}">Comment</button>
                            <a th:href="@{/boards/} + ${board.id} + @{/card/} +${card.id} + @{/upvote}" class="btn btn-link mx-2 btn-sm float-end" th:text="${'+' + card.votes}"></a>
                            <a th:href="@{/boards/} +${board.id} + @{/card/delete/} + ${card.id}" class="btn btn-danger btn-sm float-end">Delete</a>
                        </div>
                    </div>
                    <div class="modal fade" th:id="'editCardModal'+${card.id}" tabindex="-1" aria-labelledby="editCardModelLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="editCardModelLabel">Viewing Card</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" th:action="@{/boards/} +${board.id} + @{/card/edit/} + ${card.id}">
                                        <div class="mb-1">
                                            <label for="edit-card-text" class="form-label">Card Text</label>
                                            <textarea class="form-control" id="edit-card-text" name="card-text" rows="3" th:text="${card.text}" placeholder="Enter card text"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                            Edit card
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" th:id="'commentModal'+${card.id}" tabindex="-1" aria-labelledby="commentOnCardModelLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="commentModelLabel">Create new card</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="comment-main-section" th:each="comment, index: ${card.comments}">
                                        <div class="d-flex flex-start">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="https://i.stack.imgur.com/l60Hf.png" alt="avatar" width="60"
                                                 height="60" />
                                            <div>
                                                <h6 class="fw-bold mb-1" th:text="${comment.commentedUser.firstName + ' ' + comment.commentedUser.lastName} "/>
                                                <div class="d-flex align-items-center mb-3">
                                                    <p class="mb-0" th:text="${#temporals.format(comment.timePosted, 'd MMM, yyyy h:mm a')}"/>
                                                </div>
                                                <p class="mb-0" th:text="${comment.text}"/>
                                            </div>
                                        </div>
                                        <hr class="my-3" th:if="${index != #lists.size(card.comments)-1}"/>
                                    </div>
                                    <div class="add-comment-section my-4">
                                        <form th:action="@{/boards/} + ${board.id} + @{/card/} +${card.id} + @{/comment/add}" method="post">
                                            <div class="d-flex flex-start">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                     src="https://i.stack.imgur.com/l60Hf.png" alt="avatar" width="60"
                                                     height="60" />
                                                <textarea class="form-control" id="commentText" name="commentText" rows="3" placeholder="Comment"></textarea>
                                            </div>
                                            <div class="float-end mt-2 pt-1">
                                                <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success my-3" data-bs-toggle="modal" th:attr="data-bs-target='#addCardModal'+${columnIndex.index}">Add card</button>
            <div class="modal fade" th:id="'addCardModal'+${columnIndex.index}" tabindex="-1" aria-labelledby="addCardModelLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addCardModelLabel">Creating Card</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" th:action="@{/boards/} +${board.id} + @{/card/add}">
                                <div class="mb-1">
                                    <label for="edit-card-text" class="form-label">Card Text</label>
                                    <textarea class="form-control" id="card-text" name="card-text" rows="3" placeholder="Enter card text"></textarea>
                                </div>
                                <input type="hidden" name="card-status" th:value="${column.status}"/>
                                <button type="submit" class="btn btn-primary">
                                    Add card
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>